.lu-select {
  position: relative;
  .lu-input-wrapper {
    cursor: pointer;
    &:hover {
      input {
        border-color: $primary !important;
      }
    }
  }
  input {
    &[readonly] {
      background-color: #fff;
      border-color: $input-border-color;
      cursor: pointer;
      // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
      opacity: 1;
    }
    &:disabled {
      background-color: $input-disabled-bg;
      border-color: $input-disabled-border-color;
      // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
      opacity: 1;
      cursor: not-allowed;
    }
  }
  .icon-wrapper {
    transition: transform 0.25s ease-in-out;
    transform: rotate(0deg) !important;
  }
}

.lu-select.menu-is-open {
  .icon-wrapper {
    transform: rotate(180deg) !important;
  }
}

.lu-select-dropdown {
  position: absolute;
  left: 0;
  top: calc(100% + 8px);
  width: 100%;
  list-style: none;
  padding-left: 0;
  z-index: 100;
  background-color: #fff;
  border: $menu-border-width solid $menu-border-color;
  box-shadow: $submenu-box-shadow;
  border-radius: $input-border-radius;
  .lu-select-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: $menu-item-padding-y $menu-item-padding-x;
    transition: $menu-transition;
    color: $body-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &.is-selected {
      color: $menu-item-active-color;
      font-weight: $font-weight-bold;
    }
    &.is-disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }
    &:hover {
      background-color: rgba($primary, 0.1);
    }
  }
}
